<%
	var data = {
		title:'タイトルを入力してください',
		desc:'説明',
		key: 'キーワード'
	};
%>
<%- include('./include/_header.ejs',{meta:data}) %>
		<div class="l-frame">
			<div class="l-frame-inner"></div>
		</div>
<%- include('./include/_footer.ejs') %>
