@charset "utf-8";

/* margin padding reset */
body, div, p,  ul, ol, li, dl, dt, dd, table, th ,td, img, figure,
h1, h2, h3 ,h4 ,h5, h6, form, select,input,pre {
	margin: 0;
	padding: 0;
}

/* remove list point mark */
ul,
ol　{ list-style: none; }

/* remove border & off descender */
img		{ border: 0; vertical-align: middle; }

/* remove descender */
svg,
input,
select,
textarea,
label	{ vertical-align: middle; }

/* set collapse */
table	{ border-collapse: collapse; }

/* off bold */
h1, h2, h3 ,h4 ,h5, h6, th, em, strong { font-weight: normal; }

/*
	break word for all elements
	change box-model
 */
*,
*:before,
*:after {
	word-break: break-all;
	box-sizing: border-box;
}
pre	 {
	white-space: pre-wrap;
}

/* [IE8-] New Tag from HTML5 */
main, article, aside, figcaption, figure,
footer, header, nav, section, details, summary {
	display: block;
}
a {
	text-decoration: none;
}
