		<footer class="l-footer">
		</footer>
	</div><!-- /.wrapper -->
<!-- ***** bottom script ***** -->
<script src="../js/common.bundle.min.js"></script>
<script src="../js/index.bundle.min.js"></script>
</body>
</html>
