<!DOCTYPE html>
<!--[if lte IE 8]><html lang="ja" class="lte-ie8 no-js" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#"><![endif]-->
<!--[if (gt IE 8)|!(IE)]><!--><html lang="ja" class="no-js" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#"><!--<![endif]-->
<head>
	<!-- ***** charset ***** -->
	<meta charset="utf-8" />

	<!-- ***** robots ***** -->
	<meta name="robots" content="noydir" />
	<meta name="robots" content="noodp" />
	<meta name="robots" content="index,follow" />

	<!-- ***** viewport ***** -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0" />

	<!-- ***** website data ***** -->
	<title><%= meta.title %>| Front-end Toolkit</title>
	<meta name="description" content="<%= meta.desc %>" />
	<meta name="keywords" content="<%= meta.key %>" />

	<!-- ***** ogp ***** -->
	<meta property="og:site_name" content="" />
	<meta property="og:title" content="" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="" />
	<meta property="og:description" content="" />
	<meta property="og:image" content="" />

	<!-- ***** favicon ***** -->
	<link rel="shortcut icon" href="images/favicon.ico" />

	<!-- ***** app icon ***** -->
	<link rel="apple-touch-icon" href="images/app-icon.png" />

	<!-- ***** style ***** -->
	<link rel="stylesheet" type="text/css" href="css/reset.css" />
	<link rel="stylesheet" type="text/css" href="css/typography.css" />
	<link rel="stylesheet" type="text/css" href="css/common.css" />

	<!-- ***** script ***** -->
	<script src="js/poryfills/modernizr.js"></script>
	<!--[if lte IE 8]>
	<script src="js/poryfills/lte-ie8/html5.js"></script>
	<![endif]-->
</head>
<body>
	<div class="wrapper">
		<header class="l-header">
		</header>
