// === width === //
$WIDTH_FRAME: 100%;

// === text color === //
$COLOR_TXT_PRIMARY: #F5F1E9;
$COLOR_TXT_SECONDLY: #0F1419;

// === background color === //
$COLOR_BG_BODY: #FFFFFF;
$COLOR_BG_PRIMARY: #F5F1E9;
$COLOR_BG_SECONDLY: #0F1419;

// === link color === //
$COLOR_LINK: #0F1419;
$COLOR_LINK_HOVER: #02AEDC;

// === font-size === //
$FONT_XLARGE: 24px;
$FONT_LARGE: 20px;
$FONT_MEDIUM: 16px;
$FONT_SMALL: 14px;
$FONT_XSMALL: 12px;

// === font-family === //
$FONT_FAMILY_PRIMARY: "Avenir Next",Helvetica,Arial,"Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ","Meiryo",sans-serif;
$FONT_FAMILY_SECONDLY: "Helvetica",sans-serif;

// === duration === //
$DURATION_BASE: .3s;
$DURATION_FADE: 1.2s;
$DURATION_SLIDE: .5s;

// === Breakpoints === //
$PC_POINT: 1280px;
$SP_POINT: 768px;
